<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jushi.admin.mapper.PlateMapper">

    <select id="findTop10" resultType="platePO">
        select id,name from plate order by weight
    </select>



</mapper>